@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
h3 {
    display: flex;
    text-align: justify;
    padding: auto;
    padding: 0% 15% 3% 15%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}


/* .text-base {
    border: 1px solid red;
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 100px;


} */

.technology {
    border: 1px solid #0000ff;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 2%;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.technology:hover {
    background-color: #0000ff;
    color: white;
}

.text-base {
    font-weight: bold;
    align-items: center;
}